.contenedor{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:darkslategrey;
    border-radius: 10px;
}

.carrusel {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0;
}

.mascota {
    min-width: 60%;
    max-width: 100%;
    height: 500px;
    cursor: pointer;
    padding: 7px;
    
}

.img-mascota {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-color: dimgray;
    border-style:double;
}

.img-mascota:hover {
    transform: scale(1.2);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);



.container {
display: flex;
/*   border:1px solid red; */
height: 100%;
align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4d1616;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}